body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    justify-content: center;

}

header {
    border-bottom: 2px solid yellow;
}
h1 {
    text-align: center;
    color: aqua;
}

.buttons {
    display: flex;
    justify-content: center;}

button {
    background-color: gold;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
    margin: 10px;
    width: 100px;
}

button:hover{
    background-color: red
}

.row-item {
    display: flex;
    flex-direction: column;
    align-content: center ;

}

.balance-card {
    text-align: center; 
    display: flex;
    flex-direction: column;

    border: 2px solid purple;
    background-color: gold;
    color: black;
    padding: 1%;
    width: 25%;
    margin-top: 3%;
    margin-bottom: 1%;
    border-radius: 5px;
    
}

footer {
    border-top: 2px solid yellow;
    padding: 1%;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

footer p {
    color: purple;
}

img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}