body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;

}
h1 {
    text-align: center;
    color: aqua;
}

.buttons {
    display: flex;
    justify-content: center;}

button {
    background-color: gold;
    outline: purple;
    margin: 10px;
}

button:hover{
    background-color: red
}

.row-item {
    display: flex;
    flex-direction: column;
    align-content: center ;

}

.balance-card {
    text-align: center; 
    display: flex;
    flex-direction: column;
    outline: purple;
    background-color: gold;
    color: black;
    margin
    : 15px;
    
}

